<div class="nav-drop booking-sort">
    <h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
    <ul class="nav-drop-menu ">
        <li data-sort=1><a href="#">Name (A-Z)</a>
        </li>
        <li data-sort=2><a href="#">Name (Z-A)</a>
        </li>
        <li data-sort=3><a href="#">Number of Reviews</a>
        </li>

    </ul>
</div>
<ul class="booking-list">
    {% for hotel in salida.currentPageResults %}
        <li>
            <a class="booking-item" href="{{ path('hotel_show',{'slug':hotel.slug})}}">
                <div class="row">
                    <div class="col-md-3">
                        <div class="booking-item-img-wrap">
                            {% if hotel.picture.galleryHasMedias is defined %}
                                <img src="{% path hotel.picture, 'reference' %}" alt="{{ hotel.title }}" title="{{ hotel.title }}" />
                            {% else %}
                                <img src="{{ asset('bundles/daiquirisite/img/800x600.png') }}" alt="{{ hotel.title }}" title="{{ hotel.title }}" />
                            {% endif %}
                            {% if hotel.gallery.galleryHasMedias is defined %}
                                <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>{{ hotel.gallery | length }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="booking-item-rating">
                            <ul class="icon-group booking-item-rating-stars">
                                {{ hotel.printStart() |raw}}
                            </ul><span class="booking-item-rating-number"><b >{{ hotel.getAverageVotes()}}</b> of 5</span><small>({{ hotel.getReviews().count()}} reviews)</small>
                        </div>
                        <h5 class="booking-item-title">{{ hotel.title }}</h5>
                        <p class="booking-item-address"><i class="fa fa-map-marker"></i> {{ hotel.address }} ({{ hotel.zone.province }}) </p><small class="booking-item-last-booked">Latest booking: 1 hour ago</small>
                    </div>
                    <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">${{ hotel.getFromprice() }}</span><span>/night</span>{#<span class="btn btn-primary">Book Now</span>#}
                    </div>
                </div>
            </a>
        </li>

    {% else %}
        <div class="alert alert-info">
            <p class="text-bigger"> {{ 'No hotels to show' | trans({}, 'hotel') }}</p>
        </div>
    {% endfor %}

</ul>
<div class="row">

    <div class="col-md-7">
        {% if salida.haveToPaginate and isAjax is not defined %}
            <p><small>{{ salida | length }} {{ 'Hotels' | trans({}, 'hotel') }}  {#{ salida.currentPageResults[0].date | date('M j, Y') }#}  {{ 'Showing' | trans({}, 'hotel') }} {{ salida.getCurrentPage }} – {{ salida.getNbPages }}</small>
            </p>
            {% if polo is defined and polo is not null %}
                {{ pagerfanta(salida, 'page_view', {'routeName': 'hotel_list_polo_paginated', 'routeParams' : { 'polo': polo.slug }}, pagerfanta_opts) }}
            {% else %}
                {{ pagerfanta(salida, 'page_view', {'routeName': 'hotel_list_paginated'}, pagerfanta_opts) }}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-5 text-right">
        <p>{{ "Not what you\'re looking for?" | trans({}, 'hotel') }} <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Try your search again' | trans({}, 'hotel') }}</a>
        </p>
    </div>
</div>