{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    {#{ dump(salida) }#}
    <div class="container">
        {% include 'breadcrumb/breadcrumb.html.twig'%}
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
            <h3>{{ 'Search for Hotels' | trans({}, 'hotel') }}</h3>
            {{ render(controller('DaiquiriSiteBundle:OcupationSearcher:new')) }}
        </div>

        {% if salida.haveToPaginate %}
            <h3 class="booking-title">{{ salida | length }} {{ 'Hotels availables' | trans({}, 'hotel') }}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'hotel') }}</a></small></h3>
        {% else %}
            <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'Hotels' | trans({}, 'hotel') }}{% else %}{{ salida | length }} {{ 'Hotels availables' | trans({}, 'hotel') }}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'hotel') }}</a></small></h3>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
              {% include '@DaiquiriSite/Hotel/filters_hotels.html.twig' %}


            </div>
            <div class="col-md-9">
                <div id="ajax-hotels">
                    {% include 'DaiquiriSiteBundle:Hotel:ajax_hotels.html.twig' %}
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}

    
{% endblock %}



