{# empty Twig template #}
{% extends "DaiquiriReservationBundle:Default:find_form.html.twig"%}
{% block form_searcher %}            

    <div class="col-md-12">
        <div class="row">      
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <h4 class="box-title">

                            {% if searcher.excursion is defined and form is defined %} 
                                Search Availability For {{ searcher.excursion.getTipo() }} <b>{{ searcher.excursion | upper }} </b>

                            {% else %} 
                                Excursion  not found
                            {% endif %}
                        </h4>
                    </div>
                    {% if searcher is defined and form is defined %}
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">



                                {{ form_start(form, {'action': admin.generateUrl('create', {'id': admin.id(searcher), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass'), 'view_render':'DaiquiriReservationBundle:Excursion:form_searcher_into_excursion.html.twig'}), 'method': 'POST'}) }}
                                {{ form_errors(form) }}
                                <div class="hidden">
                                    {{ form_widget(form.types) }} 
                                    {{ form_widget(form.exclusive,{'value':searcher.exclusive }) }} 
                                    {{ form_widget(form.polo) }} 
                                    {{ form_widget(form.places) }} 
                                    {{ form_widget(form.polofrom) }} 
                                    {{ form_widget(form.duration) }} 
                                    {{ form_widget(form.excursion,{'value':searcher.excursion.id}) }} 
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            {{ form_label(form.date) }}
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                {{ form_widget(form.date) }} 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div>
                                            {{ form_label(form.adults) }}
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                {{ form_widget(form.adults) }} 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                            {{ form_label(form.kids) }}
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                {{ form_widget(form.kids) }} 
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-1">
                                        <div>
                                            &nbsp;
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                <button name="btn_create_and_edit" type="submit" class="btn btn-info"><i class="fa fa-save"></i> Search</button> 
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>

                                <div class="margin">
                                    <span class="label label-warning">Info</span>
                                    This excursion is available for 
                                    {% if searcher.excursion.monday %}
                                        <b> Monday &nbsp; </b> | 
                                    {% endif %}
                                    {% if searcher.excursion.thuesday %}
                                        <b> Thuesday &nbsp; </b> |
                                    {% endif %}
                                    {% if searcher.excursion.wednesday %}
                                        <b> Wednesday &nbsp; </b> |
                                    {% endif %}
                                    {% if searcher.excursion.thursday %}
                                        <b>  Thursday &nbsp;  </b>|
                                    {% endif %}
                                    {% if searcher.excursion.friday %}
                                        <b> Friday &nbsp; </b>|
                                    {% endif %}
                                    {% if searcher.excursion.saturday %}
                                        <b> Saturday &nbsp; </b> |
                                    {% endif %}                                       
                                    {% if searcher.excursion.sunday %}
                                        <b> Sunday &nbsp;  </b>|
                                    {% endif %}

                                    {% if not searcher.exclusive %}
                                        <span class="label label-warning">Info</span> The excursion required {{ searcher.excursion.minpax }} Min pax.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %} Excursion not found{% endif %}
                </div>

            </div>
        </div>
    </div>
    {% if salida is defined and salida | length >0%}
        {% for s in salida %}           
            <div class="col-md-12">
                <div class="row">   
                    <div class="col-md-12">


                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {% if s.colective %}
                                        <span class="label label-primary">Shared Excursion</span>
                                    {% else %}
                                        <span class="label label-info">Exclusive Excursion</span>
                                    {% endif %}
                                    {{ s.obj }}
                                </h4>
                            </div>
                            <div class="box-body">   
                                {% if s.colective %}
                                    {% set admin = 'admin.excursioncolective' %}
                                {% else %}
                                    {% set admin = 'admin.excursionexclusive' %}
                                {% endif %}
                                {% render(controller('DaiquiriReservationBundle:ExcursionSearcher:renderResultItem',{ '_sonata_admin' : admin,'item':s})) %}                               
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row"></div>
        {% endfor %}
    {% endif %}

{% endblock %}