{# empty Twig template #}
{% extends '::pdf_voucher.html.twig' %}

{% block tabla %}
    {% set colective = service.cartitem.product.getColective() %}
    <tr>
        <td colspan="2" align="left" style="border-bottom: solid 1px #ccc">

            <div style="font-size: 13px;">
                {% if colective %} {{ 'Shared Excursion Voucher' | trans({}, 'pdf') }}{% else %} {{ 'Private' | trans({}, 'pdf') }}{% endif %}
                {{ 'Private Excursion Voucher' | trans({}, 'pdf') }}</div>
        </td>
        <td colspan="2" align="right" style="border-bottom: solid 1px #ccc">
            <div style=""><span style="font-size: 8px; font-style: italic">{{ 'Client' | trans({}, 'pdf') }}: </span>{{ service.sale.client.getFullName() | upper }}</div>
        </td>
    </tr>
    <tr>
        <td style="border-right: solid 1px #ccc">
            <div>  <span style="font-size: 8px; font-style: italic">{{ 'Excursion' | trans({}, 'pdf') }}: </span>{{ service.cartitem.product.title  }}</div>

        </td>
        <td style="border-right: solid 1px #ccc">
            <div>  <span style="font-size: 8px; font-style: italic">{{ 'Adult' | trans({}, 'pdf') }}: </span>{{ service.cartitem.adult  }}
                <span style="font-size: 8px; font-style: italic">{{ 'Kid' | trans({}, 'pdf') }}: </span>{{ service.cartitem.kid  }}</div>

        </td>

        <td style="border-right: solid 1px #ccc">
            <div>  <span style="font-size: 8px; font-style: italic">{{ 'Departure' | trans({}, 'pdf') }}: </span>{{ service.cartitem.startdate | date('M j, Y') }}</div>

        </td>

        <td style="border-right: solid 1px #ccc">
            <div>
                <span style="font-size: 8px; font-style: italic">{{ 'Pickupplace' | trans({}, 'pdf') }}: </span>{{ service.cartitem.pickupplace.fullTitle  }}
                 <span style="font-size: 8px; font-style: italic">{{ 'Province' | trans({}, 'pdf') }}: </span>{{ service.cartitem.pickupplace.province  }}
            </div>

        </td>


    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>


{% endblock %}
{% block pax %}
    <tr>
        {% if service.confirmationcode is not null %}
            <td colspan="2" align="left" style="border-bottom: solid 1px #ccc">
                <div style="font-size: 10px; "> {{ 'Pax(s)' | trans({}, 'pdf') }} </div>
            </td>
            <td colspan="2" align="right" style="border-bottom: solid 1px #ccc">
                <div style="font-size: 10px; "><span style="font-size: 8px; font-style: italic">{{ 'Corfirmation Code' | trans({}, 'pdf') }} :</span> {{ service.confirmationcode | upper}} </div>
            </td>
        {% else %}

            <td colspan="4" align="left" style="border-bottom: solid 1px #ccc">
                <div style="font-size: 10px; "> {{ 'Pax(s)' | trans({}, 'pdf') }} </div>
            </td>
        {% endif %}

    </tr>

    {% for pax in service.servicepaxs %}
        <tr>
            {% if service.cartitem.arraypaxs[loop.index - 1] == 1 %}
                <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ 'Adult' | trans({}, 'pdf') }} {{ loop.index }} </span></td> 
            {% endif%}
            {% if service.cartitem.arraypaxs[loop.index - 1] == 2 %}
                <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ 'Kid' | trans({}, 'pdf') }} {{ loop.index }} </span></td>
            {% endif%}
            {% if service.cartitem.arraypaxs[loop.index - 1] == 3 %}
                <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ 'Infant' | trans({}, 'pdf') }} {{ loop.index }} </span></td> 
            {% endif%}
            {% if service.cartitem.arraypaxs[loop.index - 1] == 4 %}
                <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ 'Passenger' | trans({}, 'pdf') }} {{ loop.index }} </span></td> 
            {% endif%}

            <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ pax.gender }}. {{ pax.name | upper }} {{ pax.lastname | upper }}</span></td>
            <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">ID: {{ pax.document | upper }}   </span></td>
            <td style="border-right: solid 1px #ccc"><span style="font-size: 8px; font-style: italic">{{ pax.age }} {{ 'Years' | trans({}, 'pdf') }}  </span></td>
        </tr>
    {% endfor %}

{% endblock %}

