<div class="row">
        <div class="col-xs-12" style="padding-bottom: 10px">
            <button class="btn btn-default" id="exec-filter">Filter</button>
            <button class="btn btn-default" id="clear-filters">Clear Filters</button>
        </div>
    </div>

        <aside class="booking-filters text-white">
            <h3>Filter By:</h3>
            <ul class="list booking-filters-list">

                <li>
                    <h5 class="booking-filters-title">Pickup Place</h5>
                    <div id="filter-transfers-pickUp" class="radio-group">

                        {% for place in placefrom %}
                            <div class="radio">
                                <label>
                                    <input data-pickup="{{ place.type }}" class="i-radio" type="radio" /> {{ place.type }} ({{ place.cantPlaceFrom }})</label>
                                <input type="hidden" value="5">
                            </div>
                        {% endfor %}

                    </div>


                </li>
                <li>
                    <h5 class="booking-filters-title">Dropoff Place</h5>
                    <div id="filter-transfers-dropOff" class="radio-group">

                        {% for placeto in placetos %}
                            <div class="radio">
                                <label>
                                    <input data-dropoff="{{ placeto.type }}" class="i-radio" type="radio" /> {{ placeto.type }} ({{ placeto.cantPlaceTo }})</label>
                                <input type="hidden" value="5">
                            </div>
                        {% endfor %}

                    </div>


                </li>
            </ul>
        </aside>
<script>

    jQuery(document).ready(function () {
        filters.onReady();
        var url = '{{ path('transfer_list_ajax', { page:1 }) }}';
        filters.launchFilter('transfers', url);
    });

</script>