{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    <div class="container">
        {% include 'breadcrumb/breadcrumb.html.twig'%}
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
            <h3>{{ 'Search for Transfers' | trans({}, 'transfer') }}</h3>
            {% render(controller('DaiquiriSiteBundle:TransferSearcher:new')) %}
        </div>     
        {% if salida.haveToPaginate %}
            <h3 class="booking-title">{{ salida | length }}{% if place is defined %} {{ 'Transfers availables from' | trans({}, 'transfer') }} {{ place }} {% else %} {{ 'Transfers on' | trans({}, 'transfer') }} {{ date | date('M j, Y') }}{% if roundtrip is defined and roundtrip == true %} - {{ dateroundtrip | date('M j, Y') }}{% endif %}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'transfer') }}</a></small></h3>
                {% else %}
                    {% if place is defined %}
                <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'Transfers availables from ' | trans({}, 'transfer') }} {{ place }}{% else %}{{ salida | length }} {{ 'Transfers availables from' | trans({}, 'transfer') }} {{ place }} {% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'transfer') }}</a></small></h3>
                    {% else %}
                <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'Transfers on' | trans({}, 'transfer') }}{% else %}{{ salida | length }} {{ 'Transfers on' | trans({}, 'transfer') }} {{ date | date('M j, Y') }}{% if roundtrip is defined and roundtrip == true %} - {{ dateroundtrip | date('M j, Y') }}{% endif %}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'transfer') }}</a></small></h3>
                    {% endif %}
                {% endif %}
    <div class="row">
         <div class="col-md-3">
            {% include '@DaiquiriSite/Transfer/filter_transfer.html.twig' %}
         </div>
        <div class="col-md-9">
            <div id="ajax-transfers">
            {% include '@DaiquiriSite/Transfer/ajax_transfer.html.twig' %}
                </div>
        </div>
    </div>
        <div class="gap"></div>
    </div>

    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}
{% endblock %}