{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    <div class="container">
        {% include 'breadcrumb/breadcrumb.html.twig'%}
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
            <h3>{{ 'Search for Transfers' | trans({}, 'transfer') }}</h3>
            {% render(controller('DaiquiriSiteBundle:TransferSearcher:new')) %}
        </div>     
        {% if salida.haveToPaginate %}
            <h3 class="booking-title">{{ salida | length }} {{ 'Transfers on' | trans({}, 'transfer') }} {{ date | date('M j, Y') }}{% if roundtrip == true %} - {{ dateroundtrip | date('M j, Y') }} ({{'Round Trip' | trans({}, 'transfer') }}){% else %} ({{'One Way' | trans({}, 'transfer') }}){% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'transfer') }}</a></small></h3>
                {% else %}
            <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'transfers on' | trans({}, 'transfer') }}{% else %}{{ salida | length }} {{ 'Transfers on' | trans({}, 'transfer') }} {{ date | date('M j, Y') }}{% if roundtrip == true %} - {{ dateroundtrip | date('M j, Y') }} ({{'Round Trip' | trans({}, 'transfer') }}){% else %} ({{'One Way' | trans({}, 'transfer') }}){% endif %}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'transfer') }}</a></small></h3>
                {% endif %}
        <div class="row">
            <div class="col-md-3">
                {% include '@DaiquiriSite/Transfer/filter_transfer.html.twig' %}
            </div>
            <div class="col-md-9">
                <div id="ajax-transfers">
                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                        <ul class="nav-drop-menu ">
                            <li data-sort=1><a href="#">Name (A-Z)</a>
                            </li>
                            <li data-sort=2><a href="#">Name (Z-A)</a>
                            </li>
                        </ul>
                    </div>
                <ul class="booking-list">
                    {% for transfer in salida.currentPageResults %} 
                        {% if transfer.colective %}
                            {% set admin = 'admin.transfercolective' %}
                            {% render(controller('DaiquiriSiteBundle:TransferSearcher:renderResultItemTransfer',{ '_sonata_admin' : admin, 'admin':admin ,'obj':transfer.obj,'searcher':transfer.searcher, 'colective': true})) %}
                        {% else %}
                            {% set admin = 'admin.transferexclusive' %}
                            {% render(controller('DaiquiriSiteBundle:TransferSearcher:renderResultItemTransfer',{ '_sonata_admin' : admin, 'admin':admin ,'obj':transfer.obj,'searcher':transfer.searcher, 'colective': false})) %}
                        {% endif %}
                    {% else %}

                        <div class="alert alert-info">                          

                            <p class="text-bigger"> {{ 'No results for your search criteria' | trans({}, 'search') }}</p>
                        </div>


                    {% endfor %}

                </ul>
                <div class="row">

                    <div class="col-md-7">
                        {% if salida.haveToPaginate %}
                            <p><small>
                                    <h3 class="booking-title">{{ salida | length }} {{ 'Transfers on' | trans({}, 'transfer') }} {{ date | date('M j, Y') }}{% if roundtrip == true %} - {{ dateroundtrip | date('M j, Y') }}{% endif %} &nbsp;&nbsp;{{ 'Showing' | trans({}, 'transfer') }} {{ salida.getCurrentPage }} – {{ salida.getNbPages }}</small>
                            </p>                            

                            {{ pagerfanta(salida, 'page_view', {'routeName': 'transfer_search_paginated'}, pagerfanta_opts) }}

                        {% endif %}
                    </div>                   
                    <div class="col-md-5 text-right">
                        <p>{{ "Not what you\'re looking for?" | trans({}, 'circuit') }} <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Try your search again' | trans({}, 'transfer') }}</a>
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}
{% endblock %}