{# empty Twig template #}
<div style="margin-bottom: 20px; float: left">
    <img style="margin-left: 20px; width: 80px; height: 80px" src="{{ asset('bundles/daiquiriadmin/images/logo.png', absolute = true) }}" />
</div>      

<div style=" text-align: right; float: right;  font-size: 11px;" class="text_header">
    <div style="font-weight:bold; font-style: italic; color: darkblue; font-size: 12px;">Daiquiri Tours Cuba</div>
    <div  style="">{{ 'Miramar Trade Center | Barcelona Building 5th. Avenue B/76 and 78, Miramar' | trans({}, 'index') }}</div>
    <div  style="">{{ 'Havana' | trans({}, 'pdf') }}, Cuba</div>
    <div  style="">{{ 'Phones' | trans({}, 'pdf') }} : (+53) 7 204 5101 – 204 5097</div>
    <div>{{ 'Email' | trans({}, 'pdf') }} : <span style="color: darkblue">booking@daiquiricuba.com </span></div>
</div> 
<div style="clear: both"></div>