{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    <div class="container">
        {% include 'breadcrumb/breadcrumb.html.twig'%}
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
            <h3>{{ 'Search for Circuits' | trans({}, 'circuit') }}</h3>
           {% render(controller('DaiquiriSiteBundle:CircuitSearcher:new')) %}
        </div>
        {% if salida.haveToPaginate %}
            <h3 class="booking-title">{{ salida | length }} {{ 'Circuits on' | trans({}, 'circuit') }} {{ pickupdays[0] | date('M j, Y') }} - {{ pickupdays[pickupdays | length -1] | date('M j, Y') }}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'circuit') }}</a></small></h3>
                {% else %}
            <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'Circuits' | trans({}, 'circuit') }}{% else %}{{ salida | length }} {{ 'Circuits availables' | trans({}, 'circuit') }}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'circuit') }}</a></small></h3>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
            {% include '@DaiquiriSite/Circuit/filters_circuits.html.twig' %}
            </div>
            <div class="col-md-9">
                <div id="ajax-circuits">
                    {% include 'DaiquiriSiteBundle:Circuit:ajax_circuits.html.twig' %}
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>


    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}



{% endblock %}