{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    <div class="container">
        {% include 'breadcrumb/breadcrumb.html.twig'%}
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
            <h3>{{ 'Search for Circuits' | trans({}, 'circuit') }}</h3>
            {% render(controller('DaiquiriSiteBundle:CircuitSearcher:new')) %}
        </div>     
        {% if salida.haveToPaginate %}
            <h3 class="booking-title">{{ salida | length }} {{ 'Circuits on' | trans({}, 'circuit') }} {{ salida.currentPageResults[0]['obj'].getCircuitAvailabilitys()[0] | date('M j, Y') }} - {{ salida.currentPageResults[salida.currentPageResults | length -1]['obj'].getCircuitAvailabilitys()[salida.currentPageResults | length] | date('M j, Y') }}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'circuit') }}</a></small></h3>
                {% else %}
            <h3 class="booking-title">{% if salida | length < 0 %}{{ salida | length }} {{ 'Circuits on this date' | trans({}, 'circuit') }}{% else %} {{ 'Circuits on' | trans({}, 'circuit') }} {{ searcher_date|date('M j, Y')}}{% endif %}<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Change search' | trans({}, 'circuit') }}</a></small></h3>
                {% endif %}
        <div class="row">
            <div class="col-md-3">
                {% include '@DaiquiriSite/Circuit/filters_circuits.html.twig' %}
            </div>
            <div class="col-md-9">
            <div id="ajax-circuits">

            <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul class="nav-drop-menu ">
                        <li data-sort=1><a href="#">Name (A-Z)</a>
                        </li>
                        <li data-sort=2><a href="#">Name (Z-A)</a>
                        </li>
                        <li data-sort=3><a href="#">Number of Reviews</a>
                        </li>
                    </ul>
                </div>
                <ul class="booking-list">
                    {% for circuit in salida.currentPageResults %}
                        {% render(controller('DaiquiriSiteBundle:CircuitSearcher:renderResultItemCircuit',{ '_sonata_admin' : 'admin.circuit','item':circuit})) %}
                    {% else %}
                        <div class="alert alert-info">  
                            <p class="text-bigger"> {{ 'No results for your search criteria' | trans({}, 'search') }}</p>
                        </div>
                    {% endfor %}

                </ul>
                <div class="row">
                    <div class="col-md-7">
                        {% if salida.haveToPaginate %}
                            <p><small>{{ salida | length }} {{ 'Circuits on' | trans({}, 'circuit') }} {{ salida.currentPageResults[0]['obj'].getCircuitAvailabilitys()[0] | date('M j, Y') }} - {{ salida.currentPageResults[salida.currentPageResults | length -1]['obj'].getCircuitAvailabilitys()[salida.currentPageResults | length] | date('M j, Y') }} &nbsp;&nbsp;{{ 'Showing' | trans({}, 'circuit') }} {{ salida.getCurrentPage }} – {{ salida.getNbPages }}</small>
                            </p>                            

                            {{ pagerfanta(salida, 'page_view', {'routeName': 'circuit_search_paginated'}, pagerfanta_opts) }}

                        {% endif %}
                    </div>                   
                    <div class="col-md-5 text-right">
                        <p>{{ "Not what you\'re looking for?" | trans({}, 'circuit') }} <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">{{ 'Try your search again' | trans({}, 'circuit') }}</a>
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}
{% endblock %}