<!DOCTYPE HTML>
<html class="full">

    <head>
        <title>Daiquir&iacute; Tours Cuba -| 404 - Page Not Found</title>


        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="Template, html, premium, themeforest" />
        <meta name="description" content="Traveler - Premium template for travel companies">
        <meta name="author" content="Tsoy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- GOOGLE FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
        <!-- /GOOGLE FONTS -->
        <link rel="stylesheet" href="{{ asset('bundles/daiquirisite/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/daiquirisite/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/daiquirisite/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/daiquirisite/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/daiquirisite/css/mystyles.css') }}">
        <script src="{{ asset('bundles/daiquirisite/js/modernizr.js') }}"></script>


    </head>

    <body class="full">


        <div class="global-wrap">

            <div class="full-page">
                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-blur" style="background-image:url({{ asset('bundles/daiquirisite/img/1300x900.png')}});"></div>
                    <div class="bg-holder-content full text-white">
                        <a class="logo-holder" href="index.html">
                            <img src="{{ asset('bundles/daiquirisite/img/logo-white.png') }}" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <div class="full-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <p class="text-hero">404</p>
                                        <h1>Page is not found</h1>
                                        <p>Aptent vulputate gravida curae lacinia imperdiet tempus erat vulputate posuere mollis quisque magna facilisi sagittis ridiculus consequat a nisl tincidunt</p><a class="btn btn-white btn-ghost btn-lg mt5" href="{{ url('daiquiri_site_homepage') }}"><i class="fa fa-long-arrow-left"></i> to Homepage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{ url('about_us') }}">About Us</a>
                            </li>
                            <li><a href="{{ url('contact_us') }}">Contact Us</a>
                            </li>
                            <li><a href="#">Hot Deals</a>
                            </li>
                            <li><a href="#">Popular Locations</a>
                            </li>
                            <li><a href="#">Cheap Flights</a>
                            </li>
                            <li><a href="#">Business</a>
                            </li>
                            <li><a href="#">Media</a>
                            </li>
                            <li><a href="#">Developers</a>
                            </li>
                            <li><a href="#">Advertise</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <script src="{{ asset('bundles/daiquirisite/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/slimmenu.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/bootstrap-timepicker.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/nicescroll.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/dropit.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/ionrangeslider.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/icheck.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/fotorama.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/typeahead.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/card-payment.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/magnific.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/owl-carousel.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/fitvids.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/tweet.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/countdown.js')}}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/gridrotator.js') }}"></script>
            <script src="{{ asset('bundles/daiquirisite/js/custom.js') }}"></script>
        </div>
    </body>

</html>


