{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}
{% extends base_template %}

{% block javascripts %}

    {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript) }}"></script>
    {% endfor %}

    {% set locale = app.request.locale %}
    {# localize moment #}
    {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if sonata_admin.adminPool.getOption('use_select2') %}
    {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

    {# omit default EN locale #}
    {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
    {% endif %}
{% endif %}
{% javascripts '@DaiquiriReservationBundle/Resources/public/js/main.js'%}
<script src="{{ asset_url }}" type="text/javascript"></script>    
{% endjavascripts %}
{% javascripts '@DaiquiriAdminBundle/Resources/public/js/minmaxinput.js'%}
<script src="{{ asset_url }}" type="text/javascript"></script>    
{% endjavascripts %}
{% javascripts '@DaiquiriAdminBundle/Resources/public/js/jquery.typeahead.min.js'%}
<script src="{{ asset_url }}" type="text/javascript"></script>    
{% endjavascripts %}


<script>




    $(document).ready(function () {
        $body = $("body");

        $(document).on({
            ajaxStart: function () {

            },
            ajaxStop: function () {

            }
        });
        UpdateCart();
        LoadAllCurrency();
        LoadAllMarket();

    })
    function UpdateCart() {
        span = $('.cart_count');
        span.addClass('animated rotateIn');
        $.ajax({
            // la URL para la petición
            url: '{{ path('reservation_cart_get_count') }}',
            // especifica si será una petición POST o GET
            type: 'POST',
            // el tipo de información que se espera de respuesta
            dataType: 'json',
            // código a ejecutar si la petición es satisfactoria;
            // la respuesta es pasada como argumento a la función
            success: function (data) {
                if (data.success) {
                    span.html(data.value);
                    if (data.value > 0) {
                        span.addClass('bg-green');
                    } else
                    {
                        span.removeClass('bg-green');
                    }
                }
            },
            // código a ejecutar si la petición falla;
            // son pasados como argumentos a la función
            // el objeto de la petición en crudo y código de estatus de la petición
            error: function (xhr, status) {
                setContentByError();
                console.log('xhr: ' + xhr);
                console.log('status: ' + status);
            },
            complete: function () {
                span.removeClass('animated rotateIn');
            }
        });
        $('#cart_content').load('{{ path('reservation_cart_get_min_view_cart')}}');
    }

    function LoadAllCurrency() {
        $.ajax({
            // la URL para la petición
            url: '{{ path('daiquiri_admin_get_currency_availables') }}',
            // especifica si será una petición POST o GET
            type: 'POST',
            // el tipo de información que se espera de respuesta
            dataType: 'json',
            // código a ejecutar si la petición es satisfactoria;
            // la respuesta es pasada como argumento a la función
            success: function (data) {
                var ul = $('<ul/>').addClass('dropdown-menu');

                ul.css('width', '180px');
                $.each(data, function (i, item) {
                    if (data[i].current == true) {
                        $('.current_currency').empty();
                        $('.current_currency').append('<i class="fa ' + data[i].favicon + '"></i>');
                        $('.current_currency').append(data[i].nomenclator.toUpperCase() + ' ' + data[i].change);
                    } else {
                        a = $('<a/>').attr('href', Routing.generate('daiquiri_admin_set_current_currency', {currency: data[i].nomenclator}));
                        a.html('<i class="fa ' + data[i].favicon + '"></i> ' + data[i].nomenclator.toUpperCase() + ' ' + data[i].change);
                        a.click(function (e) {
                            e.preventDefault();
                            $.ajax({
                                url: Routing.generate('daiquiri_admin_set_current_currency', {currency: data[i].nomenclator}),
                                dataType: 'json',
                                type: 'POST',
                                success: function (data, textStatus, jqXHR) {
                                    $('.rest_currency').empty();
                                    location.reload();
                                }
                            });
                        });
                        li = $('<li/>').append(a);
                        ul.append(li);
                    }
                });
                $('.rest_currency').append(ul);
            },
            // código a ejecutar si la petición falla;
            // son pasados como argumentos a la función
            // el objeto de la petición en crudo y código de estatus de la petición
            error: function (xhr, status) {
                setContentByError();
                console.log('xhr: ' + xhr);
                console.log('status: ' + status);
            },
            complete: function () {
                //span.removeClass('animated rotateIn');
            }
        });


    }



    function LoadAllMarket() {
    $.ajax({
    // la URL para la petición
    url: '{{ path('daiquiri_admin_get_market_availables') }}',
            // especifica si será una petición POST o GET
            type: 'POST',
            // el tipo de información que se espera de respuesta
            dataType: 'json',
            // código a ejecutar si la petición es satisfactoria;
            // la respuesta es pasada como argumento a la función
            success: function (data) {

            var ul = $('<ul/>').addClass('dropdown-menu');
                    $('.current_market').empty();
                    $('.current_market').append('<i class="fa fa-map-marker"></i>  ');
                    $('.current_market').append(data.current_title.toUpperCase() + ' ' + data.current_increment + ' %');
                    ul.css('width', '180px');
                    $.each(data.all, function (i, item) {
                    /* if (data[i].current == true) {
                     $('.current_market').empty();
                     $('.current_market').append('<i class="fa fa-map-marker"></i>  ');
                     $('.current_market').append(data[i].title.toUpperCase() + ' ' + data[i].increment + ' %');
                     } else {*/
                    a = $('<a/>').attr('href', Routing.generate('daiquiri_admin_set_current_market', {market: data.all[i].title, _locale:{{ _locale }}}));
                            a.html('<i class="fa fa-map-marker"></i>  ' + data.all[i].title.toUpperCase() + ' ' + data.all[i].increment.toString() + ' %');
                            a.click(function (e) {
                            e.preventDefault();
                                    $.ajax({
                                    url: Routing.generate('daiquiri_admin_set_current_market', {market: data.all[i].title, _locale:{{ _locale }} }),
                                            dataType: 'json',
                                            type: 'POST',
                                            success: function (data, textStatus, jqXHR) {
                                            $('.rest_market').empty();
                                                    location.reload();
                                            }
                                    });
                            });
                            li = $('<li/>').append(a);
                            ul.append(li);
                    });
                    //}

                    $('.rest_market').append(ul);
            },
            // código a ejecutar si la petición falla;
            // son pasados como argumentos a la función
            // el objeto de la petición en crudo y código de estatus de la petición
            error: function (xhr, status) {
            setContentByError();
                    console.log('xhr: ' + xhr);
                    console.log('status: ' + status);
            },
            complete: function () {
            //span.removeClass('animated rotateIn');
            }
    });
    }


    window.SONATA_CONFIG = {
    CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
            USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
            USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
            USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
    };
            window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
            // http://getbootstrap.com/getting-started/#support-ie10-width
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.querySelector('head').appendChild(msViewportStyle);
    }
</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />

<script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
{% javascripts '@DaiquiriAdminBundle/Resources/public/js/calendar.js'%}    
<script src="{{ asset_url }}" type="text/javascript"></script>    
{% endjavascripts %}

{% endblock javascripts %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@DaiquiriAdminBundle/Resources/public/css/calendar.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
    {% endstylesheets %}


{% endblock %}


{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    {% endblock %}
    {% block show %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}


    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul role="tablist" class="nav nav-tabs">
                        {% if  car is defined %}

                            <li class="active">
                                <a data-toggle="tab" href="#tab_{{car.id}}" aria-expanded="false">
                                    <i class="fa fa-exclamation-circle has-errors hide"></i> {{ car | upper }} </a>
                            </li>                               

                        {% else %}
                            <li class="active">
                                <a data-toggle="tab" href="#_not_room_found" aria-expanded="false">
                                    <i class="fa fa-exclamation-circle has-errors hide"></i> Not Car Found</a></li>
                                {% endif %}
                    </ul>
                    <div class="tab-content">

                        {% if  car is defined %}

                            <div id="tab_{{ car.id}}" class="tab-pane fade active in">
                                <div class="box-body  container-fluid">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-12"><h4><small>Set Availability For Car: </small> {{ car | upper }} </h4></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="input_{{car.id}}" style="width: 100%"></div>

                                            <script>
            today = new Date();
            nexty = today.getFullYear();
            max = new Date();
            max.setFullYear(nexty + 1);
            $('#input_' + '{{ car.id }}').calendar({
    minDate: today,
            enableRangeSelection: true,
            maxDate: max,
            customDayRenderer: function (element, date) {
            if (date >= today && date <= max){
            find = false;
                                                {% for d in car.getCarAvailabilitys() %}
                                                                    if (date.getDate() ==      {{ d.date | date('d') }} && date.getMonth() == ({{ d.date | date('m')}} - 1) && date.getFullYear() == {{ d.date | date('Y') }}){
                                                            find = true;
                                                            }
                                                {% endfor %}  
                                                            if (find){
                                                            $(element).removeClass('unavailable');
                                                                    $(element).addClass('available');
                                                            }
                                                            else{
                                                            $(element).removeClass('available');
                                                                    $(element).addClass('unavailable');
                                                            }
                                                            }

                                                            },
                                                            clickDay: function (e) {
                                                            d = moment(e.date);
                                                                    route = Routing.generate('admin_daiquiri_admin_car_set-car-availability', {car_id:{{car.id}}, date: d.format('YYYY-M-D')});
                                                                    $(e.element).children('div').removeClass('unavailable');
                                                                    $(e.element).children('div').removeClass('available');
                                                                    $(e.element).children('div').addClass('inrequest');
                                                                    $.post(route, null,
                                                                            function (data) {
                                                                            if (data.success) {
                                                                            $(e.element).children('div').removeClass('inrequest');
                                                                                    $(e.element).children('div').removeClass('unavailable');
                                                                                    $(e.element).children('div').removeClass('available');
                                                                                    $(e.element).children('div').addClass(data.class);
                                                                            } else {
                                                                            console.log("error");
                                                                            }
                                                                            }, 'JSON');
                                                            },
                                                    })

                                            </script>

                                        </div>
                                    </div>
                                </div>


                            </div>


                        {% else %}
                            <div id="_not_room_found" class="tab-pane fade active in">
                                <div class="box-body  container-fluid">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="row">
                                            Not Rooms Found 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}                      
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}









