<li id="{{ it.id }}" class="item_cart">
    <a href="#" class="cart">
        {% set type = it.getTypeTransfer() %}
        <div class="pull-left"> 
            {% if it.product.type == 'Transfer Colective' %}
                <i class="fa fa-bus fa-2x img-circle thumbnail_cart"> </i>
            {% else %}
                <i class="fa fa-car fa-2x img-circle thumbnail_cart"> </i>
            {% endif %}

        </div> 
        <div class="margin-left-40">
            <h4><span class="text-blue">{{ it.product.type }}</span><small class="pull-right text-success">{{ it.getTotalprice() | price | raw }}</small></h4>

            <div>
                <small><i class="fa fa-map-marker"></i> {{ product.placefrom }}</small>
                <small><i class="fa fa-map-marker"></i> {{ product.placeto }}</small>
                x {{ it.quantity }}
            </div>
            <div>
                <small><i class="fa fa-calendar"></i> {{ it.startdate | date('M j, Y') }}</small>
                <small><i class="fa fa-user"></i> Passengers :{{ it.passengers }}</small> 

                {% if product.type == 'Transfer Colective' %}                   
                    {% if product.getTypeTransfer == 2 or product.getTypeTransfer == 1%}
                        <small><i class="fa fa-plane fa-lg"></i>{{ it.flight }}</small> 
                    </div> <div>
                    {% endif %}
                {% else %}
                </div> <div>
                    {% if type == 2 or type == 1%}
                        <small><i class="fa fa-plane fa-lg"></i>{{ it.flight }}</small> 
                        {% else %}
                        <small><i class="fa fa-clock-o fa-lg"></i>{{ it.pickuptime | date('g:i a') }}</small> 
                        {% endif%}
                    {% endif %}

            </div>

        </div>
    </a>
</li>