{% set type = caritem.product.getTypeTransfer() %}
<div style="border-top:solid 2px #d2d6de">
    <div  style="margin:10px;">
        <div style="display: block; margin-bottom: 10px; font-size: 1.2em; text-transform: uppercase"> {{ 'Service' | trans({}, 'email') }}:
            {% set colective = caritem.product.getColective() %}
            {% if colective %}  <b>{{ 'Shared Transfer' | trans({}, 'email') }}</b> 
            {% else %}
                <b> {{ 'Private Transfer' | trans({}, 'email') }}</b>  
            {% endif %}
            x {{ caritem.quantity }}</div>        
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Departure' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.startdate | date('M j, Y') }}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Pickup Place' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;"> {{ caritem.pickupplace }}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Dropoff Place' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.dropoffplace }}</div>
        </div>
        {% if colective %}    
            {% if type == 2 or type == 1%}
                <div style="width: 8.3333334%;float: left">
                    <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Flight' | trans({}, 'email') }}</span>
                    <div style="margin-top: 5px;">{{ caritem.flight }}</div>
                </div>               
            {% endif %}
        {% else %}
            {% if type == 2 or type == 1%}
                <div style="width: 8.3333334%;float: left">
                    <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Flight' | trans({}, 'email') }}</span>
                    <div style="margin-top: 5px;">{{ caritem.flight }}</div>
                </div>    
            {% else %}
                <div style="width: 8.3333334%;float: left">
                    <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Time' | trans({}, 'email') }}</span>
                    <div style="margin-top: 5px;">{{ caritem.getPickupTime() | date('g:i a') }}</div>
                </div>                    
            {% endif%}
        {% endif %}
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Passengers' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.passengers}}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Price' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.totalprice | price | raw }}</div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>  


