
<div class="sonata-ba-collapsed-fields">
    {{ form_start(form, {'action': admin.generateUrl('create', {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            <div>
                {{ form_label(form.startdate) }}
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    {{ form_widget(form.startdate) }} 
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                {{ form_label(form.pickupplace) }}
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    {{ form_widget(form.pickupplace) }} 
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div>
                {{ form_label(form.enddate) }}
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    {{ form_widget(form.enddate) }} 
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                {{ form_label(form.dropoffplace) }}
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    {{ form_widget(form.dropoffplace) }} 
                </div>
            </div>
        </div>

        <div class="col-md-2 ">
            <div>
                {{ form_label(form.driver) }}
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    {{ form_widget(form.driver) }} 
                </div>
            </div>
        </div>
        <div class="col-md-12"><a href="#advance" class="advance_link_car">Advance Option</a></div>
        <div class="advance hidden">
            <div class="col-md-2">
                <div>
                    {{ form_label(form.capacity) }}
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        {{ form_widget(form.capacity) }} 
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    {{ form_label(form.luggagecapacity) }}
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        {{ form_widget(form.luggagecapacity) }} 
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    {{ form_label(form.class) }}
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        {{ form_widget(form.class) }} 
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    {{ form_label(form.category) }}
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        {{ form_widget(form.category) }} 
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right margin-right-10">
            <div>
                &nbsp;
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    <button name="btn_create_and_edit" type="submit" class="btn btn-info"><i class="fa fa-search"></i> Search</button> 
                </div>
            </div>
        </div>
        <script>
            $('.advance_link_car').each(function () {
                $(this).click(function (e) {
                    e.preventDefault();
                   // console.log($(this).parent().next());
                    $(this).parent().next().toggleClass('hidden');
                });
            });

        </script>
        {{ form_end(form) }}
    </div>
</div>