
<div class="col-md-12" data-id="{{ it.id }}">
    <div class="row item_cart">
        <div class="col-md-12">
            <div class="box box-primary">                
                    <div class="box-header">
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-danger delete_btn" id="{{ it.id }}">
                                <i class="fa fa-times"></i></button>
                        </div>
                        <h4 class="box-title">
                        <b> {{ it.title }}</b> x {{ it.quantity }}
                    </h4>
                    </div>
                    <div class="box-body">  
                        <div class="row">
                            <div class="col-md-2">
                                <a href="#" class="thumbnail">
                                    {% thumbnail it.product.picture, 'small' %}
                                </a>
                            </div>
                            
                            <div class="col-md-2">
                                <span class="label label-success">Pickupdate Date & Time</span>
                                <div> {{ it.startdate | date('M j, Y g:i a') }}</div>
                            </div>
                            <div class="col-md-2">
                                <span class="label label-success">Dropoff Date & Time</span>
                                <div>{{ it.enddate | date('M j, Y g:i a') }}</div>
                            </div>
                            <div class="col-md-2">
                                <span class="label label-success">Pikup Place</span>
                                <div>{{ it.pickupplace }}</div>

                            </div>
                            <div class="col-md-2">
                                <span class="label label-success">Dropoff Place</span>
                                <div>{{ it.dropoffplace }}</div>

                            </div>
                            <div class="col-md-1">
                                <span class="label label-success">Price</span>
                                <div>{{ it.totalprice | price | raw }}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
