<div class="gap gap-small"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Trendy Now <small ><a href="#">view all</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hotels/saratoga1.jpg') }}" alt="Image Alternative text" title="Saratoga Hotel" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Saratoga Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$387</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hotels/melia.jpg') }}" alt="Image Alternative text" title="Melia Habana Hotel" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Melia Habana Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$467</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hotels/parque.jpg') }}" alt="Image Alternative text" title="Parque Central Hotel" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Parque Central Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$465</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Hot Deals <small ><a href="#">view all</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hot/auto3.jpg') }}" alt="Image Alternative text" title="City Tour & Old Cars" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">City Tour & Old Cars</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$50</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hot/italy.jpg') }}" alt="Image Alternative text" title="From Havana to Italy" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">From Havana to Italy</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$499</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/hot/round.jpg') }}" alt="Image Alternative text" title="Round Tour" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Round Tour</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$458</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Special for You <small ><a href="#">view all</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/especial/cuba4.jpg') }}" alt="Image Alternative text" title="Aut&eacute;ntica Cuba" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Aut&eacute;ntica Cuba Circuit</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$418</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/especial/son.jpg') }}" alt="Image Alternative text" title="Cuban Son Dance Class" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Cuban Son Dance Class</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$100</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ asset('bundles/daiquirisite/img/especial/el-guajirito.jpg') }}" alt="Image Alternative text" title="El Guajirito" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">El Guajirito</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$50</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
