{% extends base_template %}
{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    {% endblock %}

{% block show %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-12">
                <div class="row">      
                    <div class="col-md-12">
                        {{ form_start(form, {'action': admin.generateUrl('create-availability-for-rental-house-room'), 'method': 'POST'}) }}
                        {{ form_errors(form) }}
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Availability for Rental House Room: <b>{{ rental_house_room.title }}</b>
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="row"> 

                                    <div class="col-md-12">
                                        <div class="box-body">
                                            <div class="sonata-ba-collapsed-fields">
                                                <div  class="form-group">
                                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                        {{ form_label(form.startdate) }}
                                                        {{ form_widget(form.startdate) }} 
                                                    </div>
                                                </div>
                                                <div  class="form-group">
                                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                        {{ form_label(form.enddate) }}
                                                        {{ form_widget(form.enddate) }} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sonata-ba-form-actions well well-small form-actions stuck">
                            <input type='hidden'  id='rental_house_room' name ='rental_house_room' value='{{ rental_house_room.id }}' />
                            <button name="btn_create_and_edit" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Create</button>                            
                            {#<button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>#}
                            <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">
                                <i class="fa fa-th-list"></i> Return to list</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(':text').addClass('sonata-medium-date form-control');
    </script>
{% endblock %}
