{# empty Twig template #}
<div style="border-top:solid 2px #d2d6de">
    <div  style="margin:10px;">
        <div style="display: block; margin-bottom: 10px; font-size: 1.2em; text-transform: uppercase">Request Details</div>
        <div style="width: 20%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Circuit' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ request.circuit  | upper }} </div>
        </div>
        <div style="width: 20%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Departure' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ request.startdate  | date('M j, Y') }}</div>
        </div>        
        <div style="width: 20%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Adult(s)' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ request.adult  }}</div>
        </div>
        <div style="width: 20%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Kid(s)' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ request.kid  }}</div>
        </div>
        <div style="width: 20%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Room' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{% if request.ocupation == 1 %}{{ 'Single Room' | trans({}, 'email') }}{% else %}{{ 'Doble Room' | trans({}, 'email') }}{% endif %}</div>
        </div>

        <div style="clear: both"></div>
    </div>
</div>
