

<div style="border-top:solid 2px #d2d6de">
    <div  style="margin:10px;">
        <div style="display: block; margin-bottom: 10px; font-size: 1.2em; text-transform: uppercase"> {{ 'Service' | trans({}, 'email') }}:{{ caritem.title }} x {{ caritem.quantity }}</div>
        <div style="width: 16.6666667%;float: left">
            <div style="margin-top: 5px;">
                <a href="#" class="thumbnail">
                    {% thumbnail caritem.product.picture, 'small' %}
                </a></div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Departure' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.startdate | date('M j, Y ') }}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Pickup Place' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.pickupplace }}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Adult(s) & Kid(s)' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.adults }} & {{ caritem.kids }}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'In Room' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{% if caritem.ocupation == 1 %}{{ 'Single Room' | trans({}, 'email') }}{% else %}{{ 'Doble Room' | trans({}, 'email') }}{% endif %}</div>
        </div>
        <div style="width: 16.6666667%;float: left">
            <span style="color: #fff;background-color: #00a157;border-radius: 5px; font-size: 0.8em; padding: 2px;">{{ 'Price' | trans({}, 'email') }}</span>
            <div style="margin-top: 5px;">{{ caritem.totalprice | price | raw }}</div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>