{% extends "base.html.twig"%}
{% block body %}
    {% include 'DaiquiriSiteBundle:Default:header.html.twig' %}
    <div class="container">
        <h1 class="page-title">{{ 'Account Settings' | trans({}, 'profile') }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="user-profile-sidebar">
                    <div class="user-profile-avatar text-center">
                        <img {% if app.user.avatar is not null %} src="{{ app.user.avatar }}" {% elseif app.user.picture is not null %} src="{{ asset('uploads/user/profilepics/' ~ app.user.picture) }}" {% else %} src="{{ asset('bundles/daiquirisite/img/300x300.png') }}" {% endif %}{% set fullname = app.user.firstname ~" "~ app.user.lastname  %} alt="Avatar" title="{{ fullname }}" />
                        <h5>{{ fullname }}</h5>
                        <p>{{ 'Created At' | trans({}, 'profile') }} {{ app.user.createdAt.date | date('M j, Y') }} </p>
                    </div>
                    {#<ul class="list user-profile-nav">
                        <li><a href="user-profile.html"><i class="fa fa-user"></i>Overview</a>
                        </li>
                        <li><a href="user-profile-settings.html"><i class="fa fa-cog"></i>Settings</a>
                        </li>
                        <li><a href="user-profile-photos.html"><i class="fa fa-camera"></i>My Travel Photos</a>
                        </li>
                        <li><a href="user-profile-booking-history.html"><i class="fa fa-clock-o"></i>Booking History</a>
                        </li>
                        <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Credit/Debit Cards</a>
                        </li>
                        <li><a href="user-profile-wishlist.html"><i class="fa fa-heart-o"></i>Wishlist</a>
                        </li>
                    </ul>#}
                </aside>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {# <div class="col-md-5">
                        {% if errors is defined and errors | length > 0 %}
                             <div class="alert alert-danger">
                                 <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                 </button>
                                 <ul> 
                                     {% for error in errors %}
                                         <li> 
                                             <p class="text-small">{{  error.message  }}</p>
                                         </li>
                                     {% endfor %}          
                                 </ul>
                             </div>
                          {% endif %}
                         <form action="{{ path('sonata_user_profile_edit') }}" method="post" enctype="multipart/form-data">
                             <h4>{{ 'Personal Infomation' | trans({}, 'profile') }}</h4>                           
                             <div class="form-group">
                                 <label>{{ 'Gender' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.gender) }}
                             </div>
                             <div class="form-group form-group-icon-left">
                                 <label>{{ 'Date Of Birth' | trans({}, 'profile') }}<i class="fa fa-calendar input-icon"></i></label>
                                     {{ form_widget(form.dateOfBirth) }}
                             </div>
                             <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                 <label>{{ 'First Name' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.firstname) }}
                             </div>
                             <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                 <label>{{ 'Last Name'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.lastname) }}
                             </div>
                             <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon"></i>
                                 <label>{{ 'E-mail'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.email) }}
                             </div>
                             <div class="form-group form-group-icon-left"><i class="fa fa-phone input-icon"></i>
                                 <label>{{ 'Phone Number'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.phone) }}
                             </div>
                             <div class="form-group form-group-icon-left"><i class="fa fa-book input-icon"></i>
                                 <label>{{ 'Passport'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.passport) }}
                             </div>
                             <div class="form-group">
                                 <label>{{ 'Picture' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.picture) }}
                             </div>
                             <div class="gap gap-small"></div>
                             <h4>{{ 'Location'| trans({}, 'profile') }}</h4>                            
                             <div class="form-group">
                                 <label>{{ 'Street Address'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.address) }}
                             </div>
                             <div class="form-group">
                                 <label>{{ 'City'| trans({}, 'profile') }}</label>
                                 {{ form_widget(form.city) }}
                             </div>
                             <div class="form-group">
                                 <label>{{ 'State/Province/Region' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.state) }}
                             </div>
                             <div class="form-group">
                                 <label>{{ 'ZIP Code/Postal Code' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.zipcode) }}
                             </div>
                             <div class="form-group">
                                 <label>{{ 'Country' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.country) }}
                             </div> 
                             <div class="form-group">
                                 <label>{{ 'Locale' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.locale) }}
                             </div> 
                             <div class="form-group">
                                 <label>{{ 'Time Zone' | trans({}, 'profile') }}</label>
                                 {{ form_widget(form.timezone) }}
                             </div> 
                             <div class="hidden">                               
                                 {{ form_rest(form) }}
                             </div>
                             <hr />
                             <input class="btn btn-primary" type="submit" value="{{ 'Save Changes' | trans({}, 'profile') }}" />
                         </form>
 
                         <div class="gap"></div>
                     </div>#}

                    <div class="col-md-4 col-md-offset-1">
                        <h4>{{ 'Change Password' | trans({}, 'profile') }}</h4>
                        
                        {% if errors is defined and errors | length > 0 %}
                            <div class="alert alert-danger">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <ul> 
                                    {% for error in errors %}
                                        <li> 
                                            <p class="text-small">{{  error.message  }}</p>
                                        </li>
                                    {% endfor %}          
                                </ul>
                            </div>
                        {% endif %}
                        <form action="{{ path('fos_user_change_password') }}" method="post">
                            {{ form_errors(form) }}
                            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                <label>{{ 'Current Password' | trans({}, 'profile') }}</label>
                                <input class="form-control" type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" placeholder="{{ 'my secret password'  | trans({}, 'profile') }}" required="required" />
                            </div>
                            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                <label>{{ 'New Password' | trans({}, 'profile') }}</label>
                                <input class="form-control" type="password" id="fos_user_change_password_form_new_first" name="fos_user_change_password_form[new][first]" placeholder="{{ 'my new secret password'  | trans({}, 'profile') }}"  required="required" />
                            </div>
                            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                                <label>{{ 'New Password Again' | trans({}, 'profile') }}</label>
                                <input class="form-control" type="password" id="fos_user_change_password_form_new_second" name="fos_user_change_password_form[new][second]" placeholder="{{ 'confirm my new secret password'  | trans({}, 'profile') }}"  required="required" />                                
                            </div>
                            <input type="hidden" id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]"  value="{{ csrf_token('change_password') }}" />
                            <div id="cont_pass" class="alert hidden">
                                <p id="pass" class="text-small"></p>
                            </div>
                            <hr />
                            <input class="btn btn-primary" type="submit" value="{{ 'Change Password' | trans({}, 'profile') }}" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gap"></div>
    {% include 'DaiquiriSiteBundle:Default:footer.html.twig' %}
{% endblock %}

{% block other_js %}
    <script>
        function checkPasswordMatch() {
            var password = $("#fos_user_change_password_form_new_first").val();
            var confirmPassword = $("#fos_user_change_password_form_new_second").val();

            if (password !== confirmPassword) {
                $('#cont_pass').removeClass('hidden');
                $('#cont_pass').addClass('alert-danger');
                $("#pass").html("{{ 'Passwords do not match!' | trans({}, 'login') }}");
            }
            else {
                $('#cont_pass').removeClass('alert-danger hidden');
                $('#cont_pass').addClass('alert-success');
                $("#pass").html("{{ 'Passwords match.' | trans({}, 'login') }}");
            }
        }

        $(document).ready(function () {
            $("input[type='text']").addClass('form-control');
            $("input[type='number']").addClass('form-control');
            $("input[type='email']").addClass('form-control');
            $("input[type='file']").addClass('form-control');
            $("input[id='application_user_profile_dateOfBirth']").attr('type', 'text');
            $("input[id='application_user_profile_dateOfBirth']").addClass('date-pick form-control');
            $("select").addClass('form-control');
            $("#fos_user_change_password_form_new_second").keyup(checkPasswordMatch);
        });
    </script>
{% endblock %}